<div class="wrapper">
  <p id="notice"><%= notice %></p>
  <h1>Posts</h1>
  <% @posts.each do |post| %>
    <div class="article_wrapper">
      <%= link_to post do %>
        <div class="article">
          <div class="user_name"><%= post.user.name%></div>
          <div class="image_wrapper"><%= image_tag post.image.url, class: "image" %></div>
          <div class="content_wrapper"><%= post.content %></div>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
  <%= link_to 'New Post', new_post_path, class:"post-btn" %>
</div>
