<!DOCTYPE html>
<html>
  <head>
    <title>railsgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
        <%= link_to "home", posts_path, id: :home %>
        <%= link_to "favorites", favorites_path, id: :favorites %>
        <%= link_to 'ユーザー一覧', users_path %>
      <% else %>
        <%= link_to "Sign up", new_user_path, id: :signup %>
        <%= link_to "Login", new_session_path, id: :login %>
      <% end %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
